<div>
<b class="page-header">
    Writing
</b>
</div>
<section class="outer">
    <div class="menu">
        <table>
            <%= for post <- @posts do %>
                <tr>
                    <td>
                        <a href="<%= Routes.post_path(@conn, :show, post) %>"><%= post.title %></a>
                        <span>  |  <%= post.date %> </span>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</section>
