<div>
<b class="page-header">
    Writing
</b>
</div>
<section>
    <div class="menu-writing">
        <%= for post <- @posts do %>
            <article>
                <h2><%= post.title %></h2>
                <p><a href="<%= Routes.post_path(@conn, :show, post) %>">Read post</a></p>
            </article>
        <% end %>
    </div>
</section>
