/* This file is for your main application css. */

@import "./phoenix.css";

@font-face {
  font-family: 'Inter';
  src: url('https://rsms.me/inter/inter.css');
}

html { font-family: 'Inter', sans-serif;}

html,
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;

}

.background {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

main {
  margin: 0;
}

.menu {
  position: absolute;
  z-index: 1;
  border: 3px solid whitesmoke;
  margin: auto;
  width: 35%;
  top: 22%;
  left: 33%;
  font-weight: bolder;
  overflow: auto;
  line-height: 2.5;
}

.menu, td {
  text-align: center;
}

.menu, td, a {
  color: whitesmoke;
  font-size: 1.2;
}

tr:hover {background-color: #14122ce5;}

.post {
  background-color: black;
  color: whitesmoke;
  position: absolute;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.4em;
  font-weight: 400;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  overflow: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.page-header {
  color: whitesmoke;
  font-size: 30px;
  display: flex;
  position: relative;
  width: 20%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: 2%;
}